.page_bloc{
    display:flex;
    flex-direction:column;
    align-self: center;
    margin-top: 40px;
    margin-left: 330px;
    width: 50%;
}
.message_presentation{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.message_bloc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.title_front_page{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}
.like_button{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.dislike_button{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
}
.form_messagelist{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 25px;
    width: 576px;
}
.text_area{
    resize: none;
}
.list{
    list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    padding: 0%;
    width: 100%;
}
.messageItem{
    margin: 50px 0 10px 0;
    padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.img_cover{
    height: 300px;
	width: 300px;
	border-radius: 20px;
}