.messageItem{
    list-style-type: none;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
}
.img_cover{
    height: 220px;
	width: 220px;
	border-radius: 20px;
}