.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_Name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.btn_signup{
    display: flex;
    justify-content: center;
}